<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4db728e5b9.js" crossorigin="anonymous"></script>
    <title>About Us</title>
<link rel="stylesheet" href="/static/css/style_about.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
            <div class="image">
                <img src="../static/images/img.jpg" alt="my photograph">
            </div>
            <h1>Rohan Sharma</h1>
            <p>I am actively looking for a full-time role in software development field. I am a full stack developer with extensive training experience in <strong>MERN</strong> stack. I can pick any new technology with relative ease and currently looking for challenging role in software industry and ready to work in any technology.</p>
            <a href="https://www.linkedin.com/in/rohan-sharma-937283167/">
            <i class="fab fa-linkedin-in btn"></i>
            </a>
    </div>
</body>
</html>